<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Rent Car Now </title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/addCar.css">

</head>
<body>
<div class="add-car-container">
  <h2>Add Car</h2>

  <form action="/ekleme" method="post">
    <div class="form-group">
      <label for="plate">Plate:</label>
      <input type="text" id="plate" name="plate" placeholder="plate">

      <label for="dailyPrice">Price (Daily $):</label>
      <input type="number" id="dailyPrice" name="dailyPrice" placeholder="$...">

      <label for="dateOfAnnouncement">DateOfAnnouncement:</label>
      <input type="text" id="dateOfAnnouncement" name="dateOfAnnouncement" placeholder="$...">

    </div>

    <div class="form-group">
      <label for="modelYear">Model Year:</label>
      <input type="number" id="modelYear" name="modelYear" placeholder="2020, 2021 ...">

      <label for="km">Km:</label>
      <input type="text" id="km" name="km" placeholder="... km">

    </div>

    <div class="form-group">
      <label for="modelId">Model:</label>
      <select id="modelId" name="modelId"></select>
    </div>

    <div class="form-group">
      <label for="colorId">Color:</label>
      <select id="colorId" name="colorId"></select>
    </div>

    <div class="form-group">
      <label for="stateId">State:</label>
      <select id="stateId" name="stateId"></select>
    </div>

    <div class="form-group">
      <label for="fuelId">Fuel:</label>
      <select id="fuelId" name="fuelId"></select>
    </div>

    <div class="form-group">
      <label for="gearId">Gear:</label>
      <select id="gearId" name="gearId"></select>
    </div>

    <div class="form-group">
      <label for="statusId">Car Status:</label>
      <select id="statusId" name="statusId"></select>
    </div>

    <input type="submit" value="Ekle">
  </form>
</div>

<script src="../public/js/jquery.min.js"></script>
<script src="js/addCar.js"></script>
</body>
</html>
